@import "variables";

.navbar-inverse {
    background-color: @sma-main-color;
}
.navbar-inverse .navbar-nav>li>a {
    color: #CCFFFF;
}
.navbar-inverse .navbar-brand {
    color: #CCFFFF;
}
.navbar-inverse .navbar-nav > .active > a {
    background: #2879A1;
}
.navbar {
    min-height: @sma-header-min-height;
    margin-bottom: @sma-header-margin-bottom;
}