@font-face {
  font-family: 'SmaFontLight';
  src: url('/public/fonts/Ubuntu-L.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'SmaFontRegular';
  src: url('/public/fonts/Ubuntu-R.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'SmaFontBold';
  src: url('/public/fonts/Ubuntu-B.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'SmaFontRegular', Fallback, sans-serif;
}

.sma-container {
    background-color: rgba(98,187,210, 0.2);
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-fixed-top {
    position: relative;
}

.alert-error {
  color: #a94442
}